# Enforce Unix newlines
* text=lf

# Exclude unused files
# see: https://redd.it/2jzp6k
/.coveralls.yml     export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.github            export-ignore
/.gitignore         export-ignore
/.travis.yml        export-ignore
/CONTRIBUTING.md    export-ignore
/README.md          export-ignore
/phpcs.xml          export-ignore
/phpstan.neon.dist  export-ignore
/phpunit.xml.dist   export-ignore
/tests              export-ignore
