# Enforce Unix newlines
* text=auto eol=lf

# Exclude unused files
# see: https://redd.it/2jzp6k
/.coveralls.yml     export-ignore
/.editorconfig      export-ignore
/.gitattributes     export-ignore
/.github            export-ignore
/.gitignore         export-ignore
/CODE_OF_CONDUCT.md export-ignore
/CONTRIBUTING.md    export-ignore
/MAINTAINERS.md     export-ignore
/README.md          export-ignore
/UPGRADING.md       export-ignore
/phpcs.xml.dist     export-ignore
/phpstan.neon.dist  export-ignore
/phpunit.xml.dist   export-ignore
/psalm.xml          export-ignore
/tests              export-ignore
