RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /
# The first rewritecond will catch the relative path while the %1 added to the rewrite rule will apply it.
# It assumes you're using only letters and numbers as your route
#RewriteCond %{REQUEST_URI} (.+)/(\w+)$
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^   %1/index.php [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]