sudo: false

language: php

php:
- 7.1
- 7.2
- 7.3
- nightly

matrix:
  allow_failures:
  - php: nightly

before_script:
- composer require php-coveralls/php-coveralls:^2.1.0
- composer install -n

script:
- mkdir -p build/logs && phpunit --coverage-clover build/logs/clover.xml
- vendor/bin/phpunit
- vendor/bin/phpcs
- vendor/bin/phpstan analyse Slim

after_script:
- php vendor/bin/coveralls -v

notifications:
  slack: slimphp:0RNzx2JuhkAqIf0MXcUZ0asT
